@use "@/assets/sass/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  font-family: "Rubik", sans-serif;
  background-color: $clr-light-grey;
}

body {
  min-height: 100vmax;
  background: url("/pattern-background-mobile-light.svg");
}

svg {
  width: 100%;
  height: 100%;
}
